hostname "FSHOST CS2 Server"
sv_password ""
rcon_password "changeme"
sv_maxrate 0
sv_minrate 80000
sv_maxupdaterate 64
sv_minupdaterate 10
mp_autoteambalance 1
mp_limitteams 1
sv_lan 0
sv_cheats 0
sv_pausable 0
sv_consistency 1
sv_allowupload 1
sv_allowdownload 1
net_maxfilesize 64
